body {
    background-color:rgb(185, 227, 247);
}

#heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 100px;
}
#section{
    display: flex;
    justify-content: center;
}
.previous{
    margin-top: 19%;
}
.next{
    margin-top: 19%;
}
#prev{
      border-radius: 10px;
      padding: 30px;
      border-color: azure;
}
#nxt{
      border-radius: 10px;
      padding: 30px;
      border-color: azure;
}
